@font-face {
	font-family: Creato;
	src: url(../fonts/creato-display/CreatoDisplay-Regular.otf);
}

@font-face {
	font-family: Creato1;
	src: url(../fonts/creato_display/creatoDisplay-Light.otf);
}

html,
body {
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	margin: 0;
	padding: 0;
}

body {
	font-family: Creato;
}

.vh {
	height: 100vh;
}

.fs {
	background-color: #054650;
}

.fscnt {
	margin: 3rem;
}

.fstext {
	margin-top: 75px;
	font-size: 56px;
	padding-left: 50px;
}

.fsVD {
	color: #00a7cc;
	font-size: 60px;
}

.img1,
.img2,
.img3 {
	margin-top: 59px;
}

.fstext2 {
	font-size: 24px;
	line-height: 40px;
	padding-top: 0px;
	padding-left: 100px;
	font-family: Creato1;
}

/* Img On First section */

.imgx {
	height: calc(100% - 300px);
	width: calc(100% - 10px);
	border-radius: 50%;
	position: absolute;
	top: 28%;
	right: 13%;
	z-index: 3;
}

.img2 {
	height: calc(100% - 500px);
	width: calc(100% - 200px);
	border-radius: 50%;
	position: absolute;
	top: 10%;
	right: 8%;
	z-index: 1;
}

.img3 {
	height: calc(100% - 475px);
	width: calc(100% - 130px);
	border-radius: 50%;
	position: absolute;
	top: 55%;
	right: 5%;
	z-index: 2;
}

/* Second Section */

.ssrd {
	margin-top: 11%;
	color: #054650;
	font-size: 25px;
}

.sshead {
	margin-top: 5vh;
	color: #054650;
	font-size: 50px;
}

/* Images for second section */

.ssimg1 {
	height: 15vh;
	width: 10vw;
}

/* Third Section */

.ts {
	background-color: #054650;
}

.tsbtn {
	background-color: #00a7cc;
	margin-bottom: 0;
	border-radius: 30px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	border: none;
	width: 100%;
	font-size: 25px;
}

.tschangeclass {
	margin-top: 30vh;
}

.tsbtn2 {
	margin-top: 10%;
	font-size: 25px;
}

.tshead {
	font-size: 58px;
	margin-top: 10%;
}

.tstext {
	margin-top: 10%;
	font-size: 25px;
}

/* Footer */

footer img.logo {
	height: 9vh;
	width: auto;
}

.hr1 {
	justify-content: center;
	align-items: center;
}

.hr2 {
	margin-left: 80px;
}

.ftbout {
	margin-top: 9vh;
	margin-bottom: 10px;
	font-size: 1.8em;
	font-family: Creato1;
}

.ftcont {
	margin-bottom: 5px;
	font-family: Creato1;
}

.ft {
	right: 1vw;
}

.ftc {
	height: 40vh;
}

.ftic {
	background-color: rgb(17, 53, 69);
	font-size: 40px;
}

.Vic {
	font-size: 30px;
	color: black;
	font-family: Creato1;
}

.Vic1 {
	font-size: 20px;
	text-decoration: none;
	color: black;
	margin-left: 40px;
}

.btns {
	display: flex;
	flex-direction: column;
	border: none !important;
}

.btn {
	border: none;
	border-radius: 50px;
	color: #f2f2f2;
	font-size: 20px;
	font-weight: 600;
	padding: 15px 40px;
	text-transform: uppercase;
	transition: all 0.5s ease-in-out 0s;
}

@media only screen and (max-width: 992px) {
	.fsim {
		display: none;
	}

	.fstext {
		font-size: 70px;
		display: flex;
		justify-content: center;
		margin-top: 5%;
		margin-left: 0;
		padding-left: 0;
	}

	.fstext2 {
		font-size: 26px;
		font-family: Creato1;
		line-height: 50px;
		display: flex;
		justify-content: center;
		text-align: center;
		margin-left: 0;
		padding-left: 0;
	}

	.ssimg1 {
		height: 15vh;
		width: auto;
		margin-top: 0;
	}

	.ssim {
		text-align: center;
		height: 17.5vh;
		margin-bottom: 0;
	}

	.sstext {
		text-align: center;
		margin-right: 6vw;
		margin-left: 6vw;
		font-size: 25px;
		font-family: Creato1;
	}

	.sshead {
		margin-top: 3vh;
		margin-bottom: 0;
	}

	.ssrd {
		margin-top: 3.5vh;
	}

	.ssimg2 {
		text-align: center;
		display: none;
	}

	.sstext2 {
		margin-left: 6vw;
		margin-right: 6vw;
		text-align: center;
		font-size: 25px;
		font-family: Creato1;
	}

	.btns {
		display: flex;
		flex-direction: row;
		margin-top: 0;
		justify-content: center;
		height: 10vh;
	}

	.tsbtn {
		width: auto;
		border-radius: 30px;
	}

	.tsbtn3 {
		margin-top: 0;
	}

	.tsbtn,
	.tsbtn2 {
		padding: 3px;
	}
}

@media only screen and (max-width: 623px) {
	.fstext {
		font-size: 55px;
	}

	.fsVD {
		font-size: 55px;
	}

	.fstext2 {
		font-size: 24px;
	}
}

@media only screen and (max-width: 545px) {
	.fstext {
		font-size: 50px;
	}

	.fsVD {
		font-size: 50px;
	}

	.fstext2 {
		font-size: 20px;
		text-align: left;
	}
}

@media only screen and (max-width: 509px) {
	.fstext {
		font-size: 47px;
	}

	.fsVD {
		font-size: 47px;
	}

	.tsbtn,
	.tsbtn2 {
		font-size: 20px;
	}
}

@media only screen and (max-width: 482px) {
	.fstext {
		font-size: 40px;
	}

	.fsVD {
		font-size: 40px;
	}

	.fstext2 {
		font-size: 16px;
		text-align: left;
		padding-left: -300px;
		margin-left: -50px;
		text-align: left;
	}

	.tsbtn,
	.tsbtn2 {
		font-size: 13px;
		border-radius: 0;
	}

	.tstext {
		font-size: 20px;
	}

	.tshead {
		font-size: 50px;
	}

	.sstext,
	.sstext2 {
		font-size: 20px;
	}
}

@media only screen and (max-width: 413px) {
	.fstext {
		font-size: 35px;
	}

	.fsVD {
		font-size: 35px;
	}

	.fstext2 {
		font-size: 14px;
		padding-left: 50px;
		padding-left: -300px;
		margin-left: -50px;
		text-align: left;
		line-height: 40px;
	}
}

@media only screen and (max-width: 369px) {
	.fstext {
		font-size: 31px;
	}

	.fsVD {
		font-size: 31px;
	}

	.fstext2 {
		text-align: left !important;
		padding-left: -300px;
		margin-left: -50px;
	}

	.sstext,
	.sstext2 {
		font-size: 14px;
	}
}
