@font-face {
	font-family: Creato;
	src: url(../fonts/creato-display/CreatoDisplay-Regular.otf);
}

@font-face {
	font-family: creato-bold;
	src: url(../fonts/creato-display/CreatoDisplay-Bold.otf);
}

$cp-darkblue: #408697;
$cp-lightblue: #408697;
$cp-white: #f6f6f6;
$cp-lightgrey: #8d8c8a;
$cp-darkgerey: #363538;
$black: #000;

body {
	width: 100%;
	overflow-x: hidden;
	margin: 0;
	padding: 0;
	background-color: $cp-white;
}

.titleblogs {
	margin-top: 10%;
	margin-left: 6%;
}

.ill1 {
	margin-top: 10%;
}
