@font-face {
	font-family: Creato;
	src: url(../fonts/creato-display/CreatoDisplay-Regular.otf);
}

@font-face {
	font-family: creato-bold;
	src: url(../fonts/creato-display/CreatoDisplay-Bold.otf);
}

$bgcolor: #a5c3f6;
$boxbg: #020447;
$fontcolor: #3573f5;
$inputgrey: #e5e5ea;

body {
	background-color: $bgcolor;
	justify-content: center;
}

.box {
	margin-top: 7.5%;
	background-color: $boxbg;
	width: 80%;
	border-radius: 30px;
	margin-left: 9.5%;
	margin-bottom: 5%;
	padding: 20px 0px 65px 0px;
}

#contactUs .box .quote {
	font-size: 55px;
	font-family: creato-bold !important;
	margin-top: 5%;
	padding-left: 20%;
	width: 100%;
}

#contactUs .box .subtitle {
	font-size: 16px;
	opacity: 0.5;
	margin-left: 20%;
	padding-top: 5%;
}

.fa-phone,
.fa-envelope,
.fa-location-dot {
	color: $fontcolor;
	margin-left: 10%;
	margin-top: 5%;
	font-size: 24px;
}

.socialicons {
	margin-top: 5%;
	margin-left: 10%;
}

.socialicons i:first-child {
	padding: 15px;
	font-size: 20px;
}

.socialicons i {
	font-size: 18px;
	margin-left: 10%;
	padding: 15px;
	border-radius: 50%;
	transition: background 0.3s;
	cursor: pointer;
}

.socialicons i:hover {
	background-color: $fontcolor;
	transition: all 0.3s;
}

.address {
	padding: 10px;
	border-radius: 20px;
	transition: all 0.3s;
	margin-left: 10%;
	display: flex;
	cursor: pointer;
	border: 3px solid $boxbg;
}

.address i {
	margin-top: 0 !important;
}

.address:hover {
	background: #3572f539;
	border: 3px solid $fontcolor;
	transition: all 0.3s;
}

/* Inputs */

.inputboxes {
	margin-left: 10%;
	height: 100%;
}

.contactusbox {
	background-color: #ffffff;
	border-radius: 30px;
	padding: 20px;
	/* box-shadow: -10px -10px 30px $inputgrey; */
}

label {
	margin-top: 5%;
	margin-left: 10%;
}

input {
	box-shadow: none;
	border: none;
	background-color: #ffffff;
	font-size: 16px;
	width: 100%;
	height: 100%;
	padding: 0px;
}

#name i {
	opacity: 0.5;
}

#name {
	border: 3px solid $inputgrey;
	width: 80%;
	margin-left: 10%;
	padding: 10px;
	border-radius: 10px;
}

#email {
	border: 3px solid $inputgrey;
	width: 80%;
	margin-left: 10%;
	padding: 10px;
	border-radius: 10px;
	outline: 1px;
}

#email i {
	color: #000;
	opacity: 0.5;
}

#lname {
	border: 3px solid $inputgrey;
	width: 80%;
	margin-left: 10%;
	padding: 10px;
	border-radius: 10px;
}

#lname i {
	opacity: 0.5;
	color: #000;
}

#email input {
	outline: 1px !important;
}

input:focus {
	outline: none;
}

textarea {
	outline: none;
	border: none;
	background-color: #f9f9fb;
	resize: none;
	padding: 10px;
	font-size: 12px;
	width: 100%;
	border-radius: 15px;
}

#message {
	width: 80%;
	margin-left: 8%;
	padding: 10px;
	border-radius: 10px;
	outline: 1px;
}

.send {
	margin-right: 10%;
}

.send button {
	padding: 10px 30px 10px 30px;
	border: none;
	border-radius: 15px;
	background-color: rgb(27, 98, 249);
	color: #fff;
	font-family: creato;
	transition: all 0.3s;
}

.send button:hover {
	background-color: $fontcolor;
	transition: all 0.3s;
}

@media only screen and (max-width: 575px) {
	input {
		width: 90%;
	}
}

@media only screen and (max-width: 744px) {
	.box {
		margin-left: 0%;
		width: 100%;
		margin-bottom: 0;
		border-radius: 0;
	}

	#contactUs .box .quote {
		margin-left: 0;
		padding-left: 5%;
	}

	#contactUs .box .subtitle {
		margin-left: 0;
		padding-left: 5%;
	}

	.address {
		padding-left: 0%;
		padding-top: 5%;
	}

	.fa-phone,
	.fa-envelope,
	.fa-location-dot {
		color: $fontcolor;
		margin-left: 0%;
		margin-top: 0%;
		padding-left: 0;
		font-size: 24px;
	}

	.contactusbox {
		padding-left: 0;
		margin-left: 0;
	}

	.socialicons {
		margin-left: -1%;
		padding-left: 0;
	}

	.inputboxes {
		margin-left: 0;
		width: 90%;
	}
}
