/* --------Variables------- */
/* Colors */
/* Fonts */
@font-face {
  font-family: seoge-ui;
  src: url(../fonts/segoe-ui/Segoe-UI.ttf);
}

@font-face {
  font-family: seoge-ui-bold;
  src: url(../fonts/segoe-ui/Segoe-UI-Bold.ttf);
}

@font-face {
  font-family: creato-display;
  src: url(../fonts/creato-display/CreatoDisplay-Regular.otf);
}

@font-face {
  font-family: creato-bold;
  src: url(../fonts/creato-display/CreatoDisplay-Bold.otf);
}

@font-face {
  font-family: creato-med;
  src: url(../fonts/creato-display/CreatoDisplay-Medium.otf);
}

@font-face {
  font-family: creato-italic;
  src: url(../fonts/creato-display/CreatoDisplay-BoldItalic.otf);
}

/*---------------------------- */
/* Styling */
/* Defaults */
body {
  width: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  background-color: #fff;
}

/* Header and nav */
header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.navigation {
  background: linear-gradient(90.17deg, rgba(255, 255, 255, 0.76) 3.58%, rgba(255, 255, 255, 0.66) 96.71%);
  -webkit-box-shadow: 0px 6px 54px -21px rgba(0, 0, 0, 0.27);
          box-shadow: 0px 6px 54px -21px rgba(0, 0, 0, 0.27);
  border-radius: 0px 0px 40px 40px;
  padding: 1.3% 0px 0.5% 4.2%;
  margin-left: 10%;
  margin-right: 11.3%;
  font-family: creato-bold;
  font-size: 20px;
  background: linear-gradient(90.17deg, rgba(255, 255, 255, 0.76) 3.58%, rgba(255, 255, 255, 0.66) 96.71%);
  -webkit-box-shadow: 0px 19px 39px -25px rgba(0, 0, 0, 0.58);
          box-shadow: 0px 19px 39px -25px rgba(0, 0, 0, 0.58);
  -webkit-backdrop-filter: blur(51px);
          backdrop-filter: blur(51px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 0px 0px 40px 40px;
}

.navr {
  font-family: creato-display;
  font-size: 20px;
}

.navlinks a:nth-child(2),
.navlinks a:nth-child(3),
.navlinks a:nth-child(4) {
  color: #000;
  text-decoration: none;
  font-family: creato-display;
  font-size: 16px;
  margin-left: 8%;
}

.navlinks a:nth-child(1) {
  color: #000;
  text-decoration: none;
  font-family: creato-display;
  font-size: 16px;
}

.navSignin {
  font-family: creato-display;
  font-size: 14px;
  border-radius: 40px;
  background-color: #000;
  color: #fff;
  padding: 1% 6.4% 0% 3.7%;
  text-decoration: none;
  height: 70%;
  margin-top: 1%;
}

.companyname a {
  text-decoration: none;
}

/* Hero Section */
/* Castle */
.castlediv {
  height: 30vh;
}

.castle {
  background-image: url(../img/Heroimg.svg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: top top;
  height: 59vh;
}

/* Headings starting from What is VD? */
.headers {
  padding-top: 5.3rem;
}

.heads:first-child,
.heads:nth-child(1) {
  padding-top: 1.5%;
}

.ha1 {
  font-size: 3rem;
  background: -webkit-gradient(linear, left top, right top, color-stop(-3.76%, #000000), color-stop(104.17%, #1f8cbc));
  background: linear-gradient(90deg, #000000 -3.76%, #1f8cbc 104.17%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: creato-bold;
}

.ha2 {
  font-size: 3rem;
  background: -webkit-gradient(linear, left top, right top, color-stop(-3.76%, #000000), color-stop(104.17%, #1f8cbc));
  background: linear-gradient(90deg, #000000 -3.76%, #1f8cbc 104.17%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: creato-bold;
}

.ha3 {
  font-size: 3rem;
  background: -webkit-gradient(linear, left top, right top, color-stop(-3.76%, #000000), color-stop(104.17%, #1f8cbc));
  background: linear-gradient(90deg, #000000 -3.76%, #1f8cbc 104.17%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: creato-bold;
}

/* What section */
/* What is VD section */
.whatHead {
  color: #767676;
  font-size: 14px;
  padding-top: 1.5%;
  font-family: creato-med;
}

.whatContent {
  padding-top: 7.5%;
}

/* Learn more Button */
.Lmorediv {
  padding-top: 6.6%;
}

.Lmore {
  border-radius: 100rem;
  padding: 1rem;
  font-family: creato-med;
  font-size: 1rem;
  padding: 0.5rem 3rem;
  color: #000;
  -webkit-box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
          box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
  border: solid 3px transparent;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #fff -78%, #005d86 100%);
  background-origin: border-box;
  background-clip: content-box, border-box;
  -webkit-box-shadow: 2px 1000px 1px #fff inset;
          box-shadow: 2px 1000px 1px #fff inset;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.Lmore:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  color: white;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

/* Why VD Section */
#Why {
  padding-top: 24.6%;
}

/* Keywords */
.Keywords {
  font-family: creato-bold;
  background: -webkit-gradient(linear, right top, left top, color-stop(20%, #000000), color-stop(70.17%, #1f8cbc));
  background: linear-gradient(-90deg, #000000 20%, #1f8cbc 70.17%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: creato-bold;
}

/* Why VD text */
.whyVD {
  padding-top: 2.6%;
  color: #767676;
  font-size: 14px;
  padding-top: 1.5%;
  font-family: creato-med;
}

.whyVDtext {
  padding-top: 8%;
}

#Vision {
  padding-top: 29.1%;
}

.visionHead {
  font-family: creato-italic;
  background: -webkit-gradient(linear, left top, right top, color-stop(-50.76%, #000000), color-stop(85.17%, #1f8cbc));
  background: linear-gradient(90deg, #000000 -50.76%, #1f8cbc 85.17%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.visionTextDiv1 {
  padding-top: 5.7%;
}

.visionText1 {
  font-size: 3rem;
  font-family: creato-bold;
  background: -webkit-gradient(linear, left top, right top, color-stop(-3.76%, #000000), color-stop(104.17%, #1f8cbc));
  background: linear-gradient(90deg, #000000 -3.76%, #1f8cbc 104.17%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.visionText2 {
  font-size: 3rem;
  font-family: creato-bold;
  background: -webkit-gradient(linear, left top, right top, color-stop(-55.76%, #000000), color-stop(90.17%, #1f8cbc));
  background: linear-gradient(90deg, #000000 -55.76%, #1f8cbc 90.17%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Membership section */
.membershipballoon {
  background: url(../img/membership-balloon.svg);
  background-size: 100% 100%;
  height: 60vh;
}
/*# sourceMappingURL=index1.css.map */